---
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
---

<Layout title="Garment Globe">
  <section>
    <div class="p-4 flex gap-2 justify-center">
      <button class="">
        <div class="rounded-full bg-black p-5">img</div>
        <div class="text-sm text-white">Jeremy</div>
      </button>
      <button class="">
        <div class="rounded-full bg-black p-5">img</div>
        <div class="text-sm text-white">Jeremy</div>
      </button>
      <button class="">
        <div class="rounded-full bg-black p-5">img</div>
        <div class="text-sm text-white">Jeremy</div>
      </button>
      <button class="">
        <div class="rounded-full bg-black p-5">img</div>
        <div class="text-sm text-white">Jeremy</div>
      </button>
      <button class="">
        <div class="rounded-full bg-black p-5">img</div>
        <div class="text-sm text-white">Jeremy</div>
      </button>
      <button class="">
        <div class="rounded-full bg-black p-5">img</div>
        <div class="text-sm text-white">Jeremy</div>
      </button>
    </div>
  </section>
  <section class="p-4">
    <ul class="gap-4">
      <Content />
      <Content />
      <Content />
      <Content />
      <Content />
      <Content />
      <Content />
      <Content />
      <Content />
      <Content />
    </ul>
  </section>
</Layout>
<style>
  section {
    max-width: 800px;
    margin: 0 auto 48px;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
</style>
