---

---

<div class="flex gap-2 justify-center">
  <video
    src="/img/video1.mp4"
    width="350"
    height="300"
    autoplay
    loop
    class="rounded-lg"></video>
  <div
    class="flex flex-col gap-2 h-auto [&>img]:rounded [&>img]:[object-fit:cover]"
  >
    <img src="/img/img2.jpeg" width="150" height="50" alt="" />
    <img src="/img/img3.jpeg" width="150" height="50" alt="" />
    <img src="/img/img4.jpeg" width="150" height="50" alt="" />
  </div>
  <div
    class="flex flex-col gap-2 h-auto [&>img]:rounded [&>img]:[object-fit:cover]"
  >
    <img src="/img/img2.jpeg" width="150" height="50" alt="" />
    <img src="/img/img3.jpeg" width="150" height="50" alt="" />
    <img src="/img/img4.jpeg" width="150" height="50" alt="" />
  </div>
</div>
